# Terraform

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Node
node_modules/
npm-debug.log

# Env / secrets
.env
*.pem

# OS
.DS_Store
Thumbs.db

# Lambda build artifacts
*.zip

*.swp
*.swo
*~